body {
    font-family: 'PT Sans', sans-serif;
    margin: 1rem;
}

#animal-buttons {
    display: inline-block;
    vertical-align: top;
    width: 75%
}

button {
    font-family: 'PT Sans', sans-serif;
    color: #ffffff;
    background-color: #87CEFF; 
    font-size: 2rem;
    border: none;
    border-radius: .5rem;
    margin: 0 1rem 1rem 0;
}

button:hover {
    cursor: pointer;
}

form {
    display: inline-block;
    width: 24%;
}

label {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.5;
}

#button-input {
    font-size: 1.3rem;
    height: 2rem;
    width: 100%;
    margin-bottom: .5rem;
}

#gifs-appear-here {
    display: inline-block;
    width: 75%;
}

.animal-div {
    display: inline-block;
    margin-right: .5rem;
    margin-top: .5rem;
}

.gif-text {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    margin-bottom: .3rem;
}

.gif {
    height: 16rem;
}

.link,
.add-favourite,
.remove-favourite {
    color: blue;
}

.link:hover,
.add-favourite:hover,
.remove-favourite:hover {
    text-decoration: underline;
    cursor: default;
}

#favourites {
    border-top: .2rem dotted #87CEFF;
    display: inline-block;
    vertical-align: top;
    width: 24%
}

h2 {
    color: #87CEFF;
    font-size: 2rem;
}